.slick-arrow.prev {
  left: 100%;

  background-color: #b3b3b3;
  border-radius: 90%;
  padding-top: 1px;
  transition: all 0.25s linear;
}
// .slick-slide {
//   width: 160px !important;
// }
.slick-arrow.next {
  transition: all 0.25s linear;
  right: -8%;

  background-color: #b3b3b3;
  border-radius: 90%;
  padding-top: 1px;
}

.slick-arrow.next:hover {
  background-color: black;
}
.slick-arrow.prev:hover {
  background-color: black;
}
.number {
  position: absolute;
  right: -10%;
  top: -5%;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: #da3f3f;
}
